body{
	font-family: 'Oxygen';
	/* font-weight: ; */
}
a:link {
	text-decoration: none;
	color: #1d8bfa;
}

#wrapper {
	overflow-x: hidden;
}

#sidebar-wrapper {
	min-height: 100vh;
	min-width: 237px;
	margin-left: -15rem;
	-webkit-transition: margin 0.25s ease-out;
	-moz-transition: margin 0.25s ease-out;
	-o-transition: margin 0.25s ease-out;
	transition: margin 0.25s ease-out;
	background-color: #ffffff;
	border-left: 1px solid #ddd;
}
#sidebar-wrapper a {
	color: #848b94;
	border-radius: 5px;
}
#sidebar-wrapper .nav-item a {
	margin: 2px 15px;
	border-radius: 5px;
	padding: 10px 0 10px 0;
}
#sidebar-wrapper .nav-item a:hover {
	background-color: #1d8bfa;
	margin: 2px 15px;
	border-radius: 5px;
	padding: 10px 0 10px 10px;
	transition: 0.5s;
	color: #ffffff;
}
#sidebar-wrapper .nav-item .active {
	background-color: #1d8bfa;
	margin: 2px 15px;
	padding: 10px 0 10px 10px;
	border-radius: 5px;
	color: #ffffff;
}
#sidebar-wrapper .nav-child {
	margin: 0;
	border-radius: 5px;
	/* padding: 10px 0 10px 0; */
}
#sidebar-wrapper ul {
	padding: 0;
	margin: 0;
	list-style-type:none;
	/* padding: 10px 0 10px 0; */
}
#sidebar-wrapper li.nav-child {

	/* padding: 5px 0; */
	margin: 0;
	list-style-type:none;
	/* padding: 10px 0 10px 0; */
}
#sidebar-wrapper .nav-child a {
	/* margin: 12px 15px; */
	border-radius: 5px;
	margin: 2px 15px;
	padding: 10px 0 10px 10px;
	/* padding: 10px 0 10px 0; */
}
#sidebar-wrapper .nav-child a:hover {
	background-color: #e9f3fd;
	margin: 2px 15px;
	padding: 10px 0 10px 10px;
	color: #1d8bfa;
	transition: 0.5s;
}
#sidebar-wrapper .nav-child .active {
	background-color: #d0e6fc;
	margin: 2px 15px;
	padding: 10px 0 10px 10px;
	border-radius: 5px;
	color: #1d8bfa;
}

#sidebar-wrapper .sidebar-heading {
	padding: 0.875rem 1.25rem;
	font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
	width: 15rem;
}

#page-content-wrapper {
	min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
	margin-left: 0;
}

@media (min-width: 768px) {
	#sidebar-wrapper {
		margin-left: 0;
	}

	#page-content-wrapper {
		min-width: 0;
		width: 100%;
	}

	#wrapper.toggled #sidebar-wrapper {
		margin-left: -15rem;
	}
}

.icon {
	width: 3rem;
	height: 3rem;
}

.icon i {
	font-size: 2.25rem;
}

.icon-shape {
	display: inline-flex;
	padding: 12px;
	text-align: center;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
}

.icon-shape i {
	font-size: 1.25rem;
}
.card-stats .card-body {
	padding: 1rem 1.5rem;
}

/* CUSTOM BOOTSTRAP STYLE */

.btn-primary {
	color: #fff;
	background-color: #5b99ea;
	border-color: #5b99ea;
}
.btn-primary:hover {
	color: #fff;
	background-color: #0b5ed7;
	border-color: #0a58ca;
}
.btn-check:focus + .btn-primary,
.btn-primary:focus {
	color: #fff;
	background-color: #0b5ed7;
	border-color: #0a58ca;
	box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
}
.btn-check:checked + .btn-primary,
.btn-check:active + .btn-primary,
.btn-primary:active,
.btn-primary.active,
.show > .btn-primary.dropdown-toggle {
	color: #fff;
	background-color: #0a58ca;
	border-color: #0a53be;
}
.btn-check:checked + .btn-primary:focus,
.btn-check:active + .btn-primary:focus,
.btn-primary:active:focus,
.btn-primary.active:focus,
.show > .btn-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
}
.btn-primary:disabled,
.btn-primary.disabled {
	color: #fff;
	background-color: #5b99ea;
	border-color: #5b99ea;
}

.btn-secondary {
	color: #fff;
	background-color: #6c757d;
	border-color: #6c757d;
}
.btn-secondary:hover {
	color: #fff;
	background-color: #5c636a;
	border-color: #565e64;
}
.btn-check:focus + .btn-secondary,
.btn-secondary:focus {
	color: #fff;
	background-color: #5c636a;
	border-color: #565e64;
	box-shadow: 0 0 0 0.25rem rgba(130, 138, 145, 0.5);
}
.btn-check:checked + .btn-secondary,
.btn-check:active + .btn-secondary,
.btn-secondary:active,
.btn-secondary.active,
.show > .btn-secondary.dropdown-toggle {
	color: #fff;
	background-color: #565e64;
	border-color: #51585e;
}
.btn-check:checked + .btn-secondary:focus,
.btn-check:active + .btn-secondary:focus,
.btn-secondary:active:focus,
.btn-secondary.active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.25rem rgba(130, 138, 145, 0.5);
}
.btn-secondary:disabled,
.btn-secondary.disabled {
	color: #fff;
	background-color: #6c757d;
	border-color: #6c757d;
}

.btn-success {
	color: #fff;
	background-color: #28b76b;
	border-color: #28b76b;
}
.btn-success:hover {
	color: #fff;
	background-color: #157347;
	border-color: #146c43;
}
.btn-check:focus + .btn-success,
.btn-success:focus {
	color: #fff;
	background-color: #157347;
	border-color: #146c43;
	box-shadow: 0 0 0 0.25rem rgba(60, 153, 110, 0.5);
}
.btn-check:checked + .btn-success,
.btn-check:active + .btn-success,
.btn-success:active,
.btn-success.active,
.show > .btn-success.dropdown-toggle {
	color: #fff;
	background-color: #146c43;
	border-color: #13653f;
}
.btn-check:checked + .btn-success:focus,
.btn-check:active + .btn-success:focus,
.btn-success:active:focus,
.btn-success.active:focus,
.show > .btn-success.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.25rem rgba(60, 153, 110, 0.5);
}
.btn-success:disabled,
.btn-success.disabled {
	color: #fff;
	background-color: #28b76b;
	border-color: #28b76b;
}

.btn-info {
	color: #000;
	background-color: #0dcaf0;
	border-color: #0dcaf0;
}
.btn-info:hover {
	color: #000;
	background-color: #31d2f2;
	border-color: #25cff2;
}
.btn-check:focus + .btn-info,
.btn-info:focus {
	color: #000;
	background-color: #31d2f2;
	border-color: #25cff2;
	box-shadow: 0 0 0 0.25rem rgba(11, 172, 204, 0.5);
}
.btn-check:checked + .btn-info,
.btn-check:active + .btn-info,
.btn-info:active,
.btn-info.active,
.show > .btn-info.dropdown-toggle {
	color: #000;
	background-color: #3dd5f3;
	border-color: #25cff2;
}
.btn-check:checked + .btn-info:focus,
.btn-check:active + .btn-info:focus,
.btn-info:active:focus,
.btn-info.active:focus,
.show > .btn-info.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.25rem rgba(11, 172, 204, 0.5);
}
.btn-info:disabled,
.btn-info.disabled {
	color: #000;
	background-color: #0dcaf0;
	border-color: #0dcaf0;
}

.btn-warning {
	color: #000;
	background-color: #ffc107;
	border-color: #ffc107;
}
.btn-warning:hover {
	color: #000;
	background-color: #ffca2c;
	border-color: #ffc720;
}
.btn-check:focus + .btn-warning,
.btn-warning:focus {
	color: #000;
	background-color: #ffca2c;
	border-color: #ffc720;
	box-shadow: 0 0 0 0.25rem rgba(217, 164, 6, 0.5);
}
.btn-check:checked + .btn-warning,
.btn-check:active + .btn-warning,
.btn-warning:active,
.btn-warning.active,
.show > .btn-warning.dropdown-toggle {
	color: #000;
	background-color: #ffcd39;
	border-color: #ffc720;
}
.btn-check:checked + .btn-warning:focus,
.btn-check:active + .btn-warning:focus,
.btn-warning:active:focus,
.btn-warning.active:focus,
.show > .btn-warning.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.25rem rgba(217, 164, 6, 0.5);
}
.btn-warning:disabled,
.btn-warning.disabled {
	color: #000;
	background-color: #ffc107;
	border-color: #ffc107;
}

.btn-danger {
	color: #fff;
	background-color: #d26d69;
	border-color: #d26d69;
}
.btn-danger:hover {
	color: #fff;
	background-color: #bb2d3b;
	border-color: #b02a37;
}
.btn-check:focus + .btn-danger,
.btn-danger:focus {
	color: #fff;
	background-color: #bb2d3b;
	border-color: #b02a37;
	box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.5);
}
.btn-check:checked + .btn-danger,
.btn-check:active + .btn-danger,
.btn-danger:active,
.btn-danger.active,
.show > .btn-danger.dropdown-toggle {
	color: #fff;
	background-color: #b02a37;
	border-color: #a52834;
}
.btn-check:checked + .btn-danger:focus,
.btn-check:active + .btn-danger:focus,
.btn-danger:active:focus,
.btn-danger.active:focus,
.show > .btn-danger.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.5);
}
.btn-danger:disabled,
.btn-danger.disabled {
	color: #fff;
	background-color: #d26d69;
	border-color: #d26d69;
}

.btn-light {
	color: #000;
	background-color: #f8f9fa;
	border-color: #f8f9fa;
}
.btn-light:hover {
	color: #000;
	background-color: #f9fafb;
	border-color: #f9fafb;
}
.btn-check:focus + .btn-light,
.btn-light:focus {
	color: #000;
	background-color: #f9fafb;
	border-color: #f9fafb;
	box-shadow: 0 0 0 0.25rem rgba(211, 212, 213, 0.5);
}
.btn-check:checked + .btn-light,
.btn-check:active + .btn-light,
.btn-light:active,
.btn-light.active,
.show > .btn-light.dropdown-toggle {
	color: #000;
	background-color: #f9fafb;
	border-color: #f9fafb;
}
.btn-check:checked + .btn-light:focus,
.btn-check:active + .btn-light:focus,
.btn-light:active:focus,
.btn-light.active:focus,
.show > .btn-light.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.25rem rgba(211, 212, 213, 0.5);
}
.btn-light:disabled,
.btn-light.disabled {
	color: #000;
	background-color: #f8f9fa;
	border-color: #f8f9fa;
}

.btn-dark {
	color: #fff;
	background-color: #212529;
	border-color: #212529;
}
.btn-dark:hover {
	color: #fff;
	background-color: #1c1f23;
	border-color: #1a1e21;
}
.btn-check:focus + .btn-dark,
.btn-dark:focus {
	color: #fff;
	background-color: #1c1f23;
	border-color: #1a1e21;
	box-shadow: 0 0 0 0.25rem rgba(66, 70, 73, 0.5);
}
.btn-check:checked + .btn-dark,
.btn-check:active + .btn-dark,
.btn-dark:active,
.btn-dark.active,
.show > .btn-dark.dropdown-toggle {
	color: #fff;
	background-color: #1a1e21;
	border-color: #191c1f;
}
.btn-check:checked + .btn-dark:focus,
.btn-check:active + .btn-dark:focus,
.btn-dark:active:focus,
.btn-dark.active:focus,
.show > .btn-dark.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.25rem rgba(66, 70, 73, 0.5);
}
.btn-dark:disabled,
.btn-dark.disabled {
	color: #fff;
	background-color: #212529;
	border-color: #212529;
}

.btn-outline-primary {
	color: #5b99ea;
	border-color: #5b99ea;
}
.btn-outline-primary:hover {
	color: #fff;
	background-color: #5b99ea;
	border-color: #5b99ea;
}
.btn-check:focus + .btn-outline-primary,
.btn-outline-primary:focus {
	box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.5);
}
.btn-check:checked + .btn-outline-primary,
.btn-check:active + .btn-outline-primary,
.btn-outline-primary:active,
.btn-outline-primary.active,
.btn-outline-primary.dropdown-toggle.show {
	color: #fff;
	background-color: #5b99ea;
	border-color: #5b99ea;
}
.btn-check:checked + .btn-outline-primary:focus,
.btn-check:active + .btn-outline-primary:focus,
.btn-outline-primary:active:focus,
.btn-outline-primary.active:focus,
.btn-outline-primary.dropdown-toggle.show:focus {
	box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.5);
}
.btn-outline-primary:disabled,
.btn-outline-primary.disabled {
	color: #5b99ea;
	background-color: transparent;
}

.btn-outline-secondary {
	color: #6c757d;
	border-color: #6c757d;
}
.btn-outline-secondary:hover {
	color: #fff;
	background-color: #6c757d;
	border-color: #6c757d;
}
.btn-check:focus + .btn-outline-secondary,
.btn-outline-secondary:focus {
	box-shadow: 0 0 0 0.25rem rgba(108, 117, 125, 0.5);
}
.btn-check:checked + .btn-outline-secondary,
.btn-check:active + .btn-outline-secondary,
.btn-outline-secondary:active,
.btn-outline-secondary.active,
.btn-outline-secondary.dropdown-toggle.show {
	color: #fff;
	background-color: #6c757d;
	border-color: #6c757d;
}
.btn-check:checked + .btn-outline-secondary:focus,
.btn-check:active + .btn-outline-secondary:focus,
.btn-outline-secondary:active:focus,
.btn-outline-secondary.active:focus,
.btn-outline-secondary.dropdown-toggle.show:focus {
	box-shadow: 0 0 0 0.25rem rgba(108, 117, 125, 0.5);
}
.btn-outline-secondary:disabled,
.btn-outline-secondary.disabled {
	color: #6c757d;
	background-color: transparent;
}

.btn-outline-success {
	color: #28b76b;
	border-color: #28b76b;
}
.btn-outline-success:hover {
	color: #fff;
	background-color: #28b76b;
	border-color: #28b76b;
}
.btn-check:focus + .btn-outline-success,
.btn-outline-success:focus {
	box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.5);
}
.btn-check:checked + .btn-outline-success,
.btn-check:active + .btn-outline-success,
.btn-outline-success:active,
.btn-outline-success.active,
.btn-outline-success.dropdown-toggle.show {
	color: #fff;
	background-color: #28b76b;
	border-color: #28b76b;
}
.btn-check:checked + .btn-outline-success:focus,
.btn-check:active + .btn-outline-success:focus,
.btn-outline-success:active:focus,
.btn-outline-success.active:focus,
.btn-outline-success.dropdown-toggle.show:focus {
	box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.5);
}
.btn-outline-success:disabled,
.btn-outline-success.disabled {
	color: #28b76b;
	background-color: transparent;
}

.btn-outline-info {
	color: #0dcaf0;
	border-color: #0dcaf0;
}
.btn-outline-info:hover {
	color: #000;
	background-color: #0dcaf0;
	border-color: #0dcaf0;
}
.btn-check:focus + .btn-outline-info,
.btn-outline-info:focus {
	box-shadow: 0 0 0 0.25rem rgba(13, 202, 240, 0.5);
}
.btn-check:checked + .btn-outline-info,
.btn-check:active + .btn-outline-info,
.btn-outline-info:active,
.btn-outline-info.active,
.btn-outline-info.dropdown-toggle.show {
	color: #000;
	background-color: #0dcaf0;
	border-color: #0dcaf0;
}
.btn-check:checked + .btn-outline-info:focus,
.btn-check:active + .btn-outline-info:focus,
.btn-outline-info:active:focus,
.btn-outline-info.active:focus,
.btn-outline-info.dropdown-toggle.show:focus {
	box-shadow: 0 0 0 0.25rem rgba(13, 202, 240, 0.5);
}
.btn-outline-info:disabled,
.btn-outline-info.disabled {
	color: #0dcaf0;
	background-color: transparent;
}

.btn-outline-warning {
	color: #ffc107;
	border-color: #ffc107;
}
.btn-outline-warning:hover {
	color: #000;
	background-color: #ffc107;
	border-color: #ffc107;
}
.btn-check:focus + .btn-outline-warning,
.btn-outline-warning:focus {
	box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.5);
}
.btn-check:checked + .btn-outline-warning,
.btn-check:active + .btn-outline-warning,
.btn-outline-warning:active,
.btn-outline-warning.active,
.btn-outline-warning.dropdown-toggle.show {
	color: #000;
	background-color: #ffc107;
	border-color: #ffc107;
}
.btn-check:checked + .btn-outline-warning:focus,
.btn-check:active + .btn-outline-warning:focus,
.btn-outline-warning:active:focus,
.btn-outline-warning.active:focus,
.btn-outline-warning.dropdown-toggle.show:focus {
	box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.5);
}
.btn-outline-warning:disabled,
.btn-outline-warning.disabled {
	color: #ffc107;
	background-color: transparent;
}

.btn-outline-danger {
	color: #d26d69;
	border-color: #d26d69;
}
.btn-outline-danger:hover {
	color: #fff;
	background-color: #d26d69;
	border-color: #d26d69;
}
.btn-check:focus + .btn-outline-danger,
.btn-outline-danger:focus {
	box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.5);
}
.btn-check:checked + .btn-outline-danger,
.btn-check:active + .btn-outline-danger,
.btn-outline-danger:active,
.btn-outline-danger.active,
.btn-outline-danger.dropdown-toggle.show {
	color: #fff;
	background-color: #d26d69;
	border-color: #d26d69;
}
.btn-check:checked + .btn-outline-danger:focus,
.btn-check:active + .btn-outline-danger:focus,
.btn-outline-danger:active:focus,
.btn-outline-danger.active:focus,
.btn-outline-danger.dropdown-toggle.show:focus {
	box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.5);
}
.btn-outline-danger:disabled,
.btn-outline-danger.disabled {
	color: #d26d69;
	background-color: transparent;
}

.btn-outline-light {
	color: #f8f9fa;
	border-color: #f8f9fa;
}
.btn-outline-light:hover {
	color: #000;
	background-color: #f8f9fa;
	border-color: #f8f9fa;
}
.btn-check:focus + .btn-outline-light,
.btn-outline-light:focus {
	box-shadow: 0 0 0 0.25rem rgba(248, 249, 250, 0.5);
}
.btn-check:checked + .btn-outline-light,
.btn-check:active + .btn-outline-light,
.btn-outline-light:active,
.btn-outline-light.active,
.btn-outline-light.dropdown-toggle.show {
	color: #000;
	background-color: #f8f9fa;
	border-color: #f8f9fa;
}
.btn-check:checked + .btn-outline-light:focus,
.btn-check:active + .btn-outline-light:focus,
.btn-outline-light:active:focus,
.btn-outline-light.active:focus,
.btn-outline-light.dropdown-toggle.show:focus {
	box-shadow: 0 0 0 0.25rem rgba(248, 249, 250, 0.5);
}
.btn-outline-light:disabled,
.btn-outline-light.disabled {
	color: #f8f9fa;
	background-color: transparent;
}

.btn-outline-dark {
	color: #212529;
	border-color: #212529;
}
.btn-outline-dark:hover {
	color: #fff;
	background-color: #212529;
	border-color: #212529;
}
.btn-check:focus + .btn-outline-dark,
.btn-outline-dark:focus {
	box-shadow: 0 0 0 0.25rem rgba(33, 37, 41, 0.5);
}
.btn-check:checked + .btn-outline-dark,
.btn-check:active + .btn-outline-dark,
.btn-outline-dark:active,
.btn-outline-dark.active,
.btn-outline-dark.dropdown-toggle.show {
	color: #fff;
	background-color: #212529;
	border-color: #212529;
}
.btn-check:checked + .btn-outline-dark:focus,
.btn-check:active + .btn-outline-dark:focus,
.btn-outline-dark:active:focus,
.btn-outline-dark.active:focus,
.btn-outline-dark.dropdown-toggle.show:focus {
	box-shadow: 0 0 0 0.25rem rgba(33, 37, 41, 0.5);
}
.btn-outline-dark:disabled,
.btn-outline-dark.disabled {
	color: #212529;
	background-color: transparent;
}

.btn-link {
	font-weight: 400;
	color: #5b99ea;
	text-decoration: underline;
}
.btn-link:hover {
	color: #0a58ca;
}
.btn-link:disabled,
.btn-link.disabled {
	color: #6c757d;
}
.btn-lg,
.btn-group-lg > .btn {
	padding: 0.5rem 1rem;
	font-size: 1.25rem;
	border-radius: 0.3rem;
}

.btn-sm,
.btn-group-sm > .btn {
	padding: 0.25rem 0.5rem;
	font-size: 0.875rem;
	border-radius: 0.2rem;
}
.accordion-button {
	margin: 0 auto;
	border-radius: 5px;
	/* padding: 12px 15px; */
	background: none !important;
}
.accordion-button:focus {
	box-shadow: none;
	border-color: rgba(0, 0, 0, 0.125);
}
.accordion-button:not(.collapsed) {
	color: #fff !important;
	/* background-color: #1d8bfa !important; */
	border-radius: 5px !important;
}
.accordion-header {
	background-color: none !important;
}
.accordion-item {
	background: none !important;
	border: 0 !important;
	margin: 0 auto;
	width: 88%;
	border-radius: 5px;
}
.accordion-link {
	display: block;
	padding: 5px 0;
	/* border-bottom: 1px solid #ddd; */
}
.accordion-link:active {
	display: block;
	background-color: #1d8bfa;
	border-bottom: 1px solid #ddd;
}
.accordion-body {
	background-color: #fff;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-bottom: 3px;
	/* border: 1px solid rgba(0, 0, 0, 0.125); */
}
.accordion-button:link,
.accordion-button:visited,
.accordion-button:hover,
.accordion-button:active {
	background-color: #1d8bfa !important;
	color: #fff !important;
	text-decoration: none !important;
	border: hidden !important;
	border-color: #fff !important;
	border-radius: 5px !important;
}

.accordion-button:focus {
	z-index: 3;
	border-color: #fff !important;
	outline: 0;
	border-radius: 5px !important;
}
.accordion-button:not(.collapsed)::after {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.dropdown-toggle::after {
	display: none !important;
}

/******************  News Slider Demo-3 *******************/
.post-slide3 {
	background: #fff;
	box-shadow: 0 1px 2px rgba(43, 59, 93, 0.3);
	margin-bottom: 2em;
	border-radius: 10px;
}
.post-slide3 .post-body {
	margin: 0 15px;
	padding: 0 25px 20px 25px;
}
.post-slide3 .post-img {
	position: relative;
	margin-bottom: 20px;
}
.post-slide3 .post-img img {
	width: 100%;
	height: 200px;

}
.post-slide3 .post-icon {
	width: 60px;
	height: 60px;
	display: block;
	position: absolute;
	bottom: 25px;
	left: 25px;
	text-align: center;
	background: #333;
	opacity: 0;
	border-radius: 3px;
	transition: all 0.3s ease-in-out 0s;
}
.post-slide3:hover .post-icon {
	opacity: 1;
}

.post-slide3 .post-icon i {
	font-size: 20px;
	color: #fff;
	line-height: 60px;
}
.post-slide3 .post-bar {
	margin: 0;
	padding: 0;
	list-style: none;
	text-transform: uppercase;
}
.post-slide3 .post-bar li {
	display: inline-block;
	font-size: 15px;
	color: #676767;
	margin-right: 5px;
}
.post-slide3 .post-bar li:after {
	content: "/";
	margin-left: 5px;
}
.post-slide3 .post-bar li:last-child:after {
	content: "";
}
.post-slide3 .post-bar li a {
	color: #8e44ad;
	transition: all 0.3s ease 0s;
}
.post-slide3 .post-bar li a:hover {
	color: #333;
	text-decoration: none;
}
.post-slide3 .post-bar li a:after {
	content: ",";
	margin: 0 5px;
}
.post-slide3 .post-bar li a:last-child:after {
	content: "";
}
.post-slide3 .post-title {
	margin: 5px 0;
	text-transform: capitalize;
}
.post-slide3 .post-title a {
	font-size: 22px;
	font-weight: 600;
	color: #3c3c3c;
	transition: all 0.3s linear 0s;
}
.post-slide3 .post-title a:hover {
	color: #8e44ad;
	text-decoration: none;
}
.post-slide3 .post-description {
	font-size: 16px;
	color: #676767;
	line-height: 24px;
	padding-bottom: 5px;
}
.post-slide3 .read-more {
	display: inline-block;
}
.post-slide3 .read-more:hover {
	text-decoration: none;
}
.post-slide3 .read-more i {
	font-size: 19px;
	color: #333;
	margin-right: 5px;
	transition: all 0.4s linear 0s;
}
.post-slide3 .read-more span {
	font-size: 16px;
	color: #333;
	opacity: 0;
	text-transform: uppercase;
	transition: all 0.4s linear 0s;
}
.post-slide3 .read-more:after {
	content: "";
	display: block;
	width: 40%;
	position: relative;
	bottom: -20px;
	border-bottom: 3px solid #333;
	opacity: 0;
	transition: all 0.4s linear 0s;
}
.post-slide3:hover .read-more span,
.post-slide3:hover .read-more:after {
	opacity: 1;
}
.post-slide3 .read-more:hover i,
.post-slide3 .read-more:hover span,
.post-slide3 .read-more:hover:after {
	color: #8e44ad;
	border-bottom-color: #8e44ad;
}

.footer{
	-webkit-transition: margin 0.25s ease-out;
	-moz-transition: margin 0.25s ease-out;
	-o-transition: margin 0.25s ease-out;
	transition: margin 0.25s ease-out;
}
.footer ul {
	-moz-column-count: 3;
	-moz-column-gap: 20px;
	-webkit-column-count: 2;
	-webkit-column-gap: 20px;
	column-count: 3;
	column-gap: 20px;
	background-color: #fff;
}
.footer a:hover {
	margin-left: 5px;

}
.contact {
	font-size: 17px;

}
/* .card .img-frame {
	height: 280px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 10px 10px 0 0;
} */
.note-editor .dropdown-toggle::after {
    all: unset;
}

.note-editor .note-dropdown-menu, .note-editor .note-modal-footer {
    box-sizing: content-box;
}
.nav-item{
	font-size: 17px;
}
.navbar{
	height: 80px !important;
}
.img-frame {
	border-radius: 10px 10px 0 0;
}
.img-frame img {
	border-radius: 10px 10px 0 0;
	width: 100%;
	height: 200px;
	object-fit: cover;
}
.img-slide {
	border-radius: 10px 10px 0 0;
}
.img-slide img {
	border-radius: 10px 10px 0 0;
	width: 480px;
	height: 300px;
	object-fit: cover;
}

.card .card-image-overflow {
 
    position: relative;
    overflow: hidden;
    margin-left:30%;
    margin-right: 30%;
    margin-top: -30px;
    
    /* box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); */
}
/* Card News thumb */

.card .card-image-thumb {
    height: 200px;
    overflow: hidden;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    border-radius: 6px;
    box-shadow: 0 16px 15px -10px rgba(0, 0, 0, 0.07), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
